



/*                                                               second css               */

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10.5rem 7rem;
  gap: 3rem;
}

.faded-text{
  user-select: none;
  font-size: 7rem;
  position: absolute;
  top: 40rem;
  color: rgb(231,231,231);
  left: 0;
}

.faded-text span{
  color: rgba(220,220,220);
}



.hero-section-left {
  flex: 1;
}

.h-s-h {
  font-size: 2.5rem;
  font-weight: 600;
}

.h-s-s-h {
  margin-top: 1rem;
}

.h-s-desc {
  margin: 1.5rem 0;
  color: #555;
  max-width: 400px;
}

.btn-grp{
    display: flex;
    gap: 2rem;
}

.btn-pink{
    background-color: tomato;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    border-radius: 5px;
    
}
.btn-pink::before{
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}
.btn-pink:hover::before{
    transform: scaleX(1);
}
.btn-pink:hover{
    border: solid 3px tomato;
    color: black;
}

.hero-section-right {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image{
    width: 330px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    filter: grayscale(1);
    border-radius: 8px;
    display: block;
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}
@keyframes scaleImage {
    0%{
        filter: grayscale(1);
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(0);
        box-shadow: 3px 3px 10px black;
    }
    
}

.user-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    padding: 1rem ;
    box-sizing: border-box;
    
}

.absolute {
  position: absolute;
}

.icon-heart{
    top: -15rem;
    left: 7rem;
}
.icon-square{
     top: 10rem;
    left: 6rem;
    z-index: -1;
}

.icon-redstar {
    top: 10rem;
    right: 5.5rem;
    z-index: -1;
    animation: rounded 3s linear infinite;
    transform-origin: 55% 55%;
}

@keyframes rounded {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.icon-simplestar{
    top: -15.6rem;
    right: 6.6rem;
    z-index: -1;
    transition: all;
    animation: simplestar 3s linear infinite;
}
@keyframes simplestar {
    0%{
        transform: rotatey(0deg) translateY(0px)
    }
    50%{
        transform: rotateY(180deg) translateY(-20px)
    }
    100%{
        transform: rotateY(360deg) translateY(0px)
    }
    
}


/* Responsive design for */


@media (max-width:1080px) {
  .header{
    display: flex;
    gap: 7rem;
  }
  .h-s-h{
    font-size: 2rem;
  }
  .h-s-s-h{
    font-size: 1.45rem;
    width: 108%;
  }
  .user-image{
    width: 280px;
    height: 350px;

  }
  .btn-pink{
    width: 105%;
    font-size: 1rem;
  }
  .absolute{
    display: none;
  }
  
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    /* position: absolute; */
    padding: 1rem;
    text-align: center;
  }

  .hero-section-left {
    order: 1;
    line-height: 1;
    margin-top: 15px;
  }

  .hero-section-right {
    order: 3;
    margin-top: 2rem;
  }
  .faded-text{
    font-size: 4rem;
    top: 51rem;
  }
  .h-s-h{
    font-size: 2rem;
  }
  .h-s-s-h {
    font-size: 1.4rem;
    width: 100%;
  }
  .btn-pink{
    padding: 0.8rem 1.6rem;
  }
  .absolute{
    display: none;
  }

  .user-image{
    position: relative;  
    width: 300px;
    height: 350px;
    margin: -80px auto;       
    animation: scaleImageMobile 5s linear infinite;
  }


  .user-image img{
    padding: 0.5rem;
  }
  @keyframes scaleImageMobile {
    0%{
      transform: scale(1);
      filter: grayscale(1);
    }
    50%{
      transform: scale(1.05);
      filter: grayscale(0);
      box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    }
  }
}













/* 
.header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: clamp(1.5rem, 5vw, 6rem);
  gap: clamp(2rem, 4vw, 4rem);

  position: relative;
}


.hero-section-left {
  flex: 1;
  max-width: 40rem;
}

.h-s-h {
  font-size: clamp(1.8rem, 3vw, 3rem);
  font-weight: 600;
}

.h-s-s-h {
  font-size: clamp(1.2rem, 2.2vw, 2rem);
  margin-top: clamp(0.6rem, 1vw, 1rem);
}

.h-s-desc {
  font-size: clamp(0.95rem, 1.4vw, 1.1rem);
  margin: clamp(1rem, 2vw, 1.5rem) 0;
  max-width: 35ch;
}


.btn-pink {
  padding: clamp(0.6rem, 1vw, 0.9rem)
           clamp(1.2rem, 2vw, 1.8rem);
  font-size: clamp(0.9rem, 1.2vw, 1rem);
}

.hero-section-right {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image img {
  width: min(70vw, 340px);
  aspect-ratio: 3 / 4;
  object-fit: cover;
}


.absolute img {
  width: clamp(24px, 4vw, 42px);
}


.icon-heart { top: -8%; left: 10%; }
.icon-redstar { top: 10%; right: -6%; }
.icon-simplestar { bottom: -8%; left: -6%; }
.icon-square { bottom: 10%; right: 6%; } */
